<div class="flex justify-between max-w-2xl mx-auto border-b border-b-slate-600 mb-8 pb-2">
    <h1 class="text-2xl font-bold text-center">
        My Tasks List
    </h1>
    <a hx-swap="transition:true" class="badge badge-info p-4 hover:scale-[1.1]" href="/todo/create">
        New
    </a>
</div>
<section class="overflow-auto max-w-2xl max-h-96 mx-auto bg-slate-600 rounded-lg shadow-xl">
    <table class="table table-zebra">
        <!-- head -->
        <thead class="bg-slate-700">
            <tr>
                <th></th>
                <th>Tasks</th>
                <th>Status</th>
                <th class="text-center">Options</th>
            </tr>
        </thead>
        {{ if .Todos }}
        <tbody>
            {{ range .Todos }}
            <tr>
                <th>{{ .ID }}</th>
                <td>{{ .Title }}</td>
                <td>
                    {{ if .Status }}
                    ✅
                    {{ else }}
                    ❌
                    {{ end }}
                </td>
                <td class="flex justify-center gap-2">
                    <a hx-swap="transition:true" href="/todo/edit/{{ .ID }}"
                        class="badge badge-primary p-3 hover:scale-[1.1]">
                        Edit
                    </a>
                    <button hx-swap="transition:true" hx-delete="/todo/delete/{{ .ID }}"
                        hx-confirm="Are you sure you want to delete the task with ID #{{ .ID }}?" hx-target="body"
                        class="badge badge-error p-3 hover:scale-[1.1]">
                        Delete
                    </button>
                </td>
            </tr>
            {{ end }}
        </tbody>
        {{ else }}
        <tbody>
            <tr>
                <td colspan="4" align="center">
                    You do not have anything to do
                </td>
            </tr>
        </tbody>
        {{ end }}
    </table>
</section>